* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* colors */
  --color-white: #e6f0ff;
  /* --color-yellow: #d3b724; */
  --color-yellow: #f4c015;
  --color-grey: #cbd5e1;
  --color-gray: #848284

  /* bg */
  --bg-black: #171616;
  --bg-grey: #2b2727;
  --card-bg: #20201c;

  --max-width: 1120px;
  --fixed-width: 600px;
  --view-width: 90vw;

  /* fonts  */
  --small-text: 0.875rem;
  --extra-small-text: 0.7em;

  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(75, 73, 75, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.03);

  --border-radius: 1.3rem;

  /* colors */
  --primary-100: #e6f0ff;
  --primary-200: #b4d3fe;
  --primary-300: #82b6fd;
  --primary-400: #5098fc;
  --primary-500: #03449d;
  --primary-600: #034caf;
  --primary-700: #02367d;
  --primary-800: #01214b;
  --primary-900: #000b19;

  /* grey */
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;
  --grey-modal: #848284;

  /* --red-dark: #842029; */
  --red-dark: #7c1921;

  /* fonts  */
  --small-text: 0.875rem;
  --extra-small-text: 0.7em;
  /* rest of the vars */
  /* --backgroundColor: var(--white); */
  --backgroundColor: var(--grey-100);
  --transition: 0.3s ease-in-out all;
  --textColor: var(--grey-900);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;
  --view-width: 90vw;
 
}

body {
  /* height: 100%; */
  background-repeat: no-repeat;
  background: linear-gradient(
    to top right,
    #0e0e0e 0%,
    #0c0d0a 75%,
    #2d2700 100%
  );
  background-position: center;
  background-size: cover;
  color: #ffffff;
  font-family: "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", "Helvetica Neue",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: 1.38rem;
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}
small,
.text-small {
  font-size: var(--small-text);
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}
/* buttons */

.btn {
  cursor: pointer;
  color: var(--white);
  background: #5b5b0d;
  border: transparent;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
}
.btn:hover {
  background: #343407;
  box-shadow: var(--shadow-3);
}
.btn-hipster {
  color: #515108;
  background: #f6f6b8;
}
.btn-hipster:hover {
  color: var(--white);
  background: #161600;
}
.btn-block {
  width: 100%;
}

.wrapper {
  position: relative;
  top: 4rem;
}
.container {
  padding: 0.5rem 2rem;
  max-width: 1150px;
  margin: 0 auto;
}


/* Global styles ends here */

/* HEADER */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  width: 100%;
  color: #fff;
  position: fixed;
  top: 0;
  padding: 0.8rem 0;
  z-index: 10;
   background: linear-gradient(
    to top right,
    #0e0e0e 0%,
    #0a0b00 25%,
    #2d2700 100%
  );
  height: 5rem;
  margin: 0 auto;
  cursor: pointer;
}
.header img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}
.header h1 {
  font-family: cursive;
  text-align: center;
  font-weight: lighter;
  font-size: 1.5rem;
}
/* SEARCH */
.search-container {
  height: 5rem;
  background: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
.search-container form {
  width: var(--view-width);
  max-width: var(--max-width);
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}
.search-container .form-input {
  max-width: 200px;
  padding: 0.375rem 0.75rem;
  border-radius: var(--borderRadius);
  background: var(--backgroundColor);
  border: 1px solid var(--grey-200);
  outline: none;
}
::placeholder {
  font-family: inherit;
  color: var(--grey-400);
}
.search-container .btn {
  font-size: 0.75rem;
}
/* FAVORITE */
.favorites {
  border-radius: var(--border-radius);
  padding: .8rem;
  color: #707002;
  background-image: url("../gbg.webp");
  background-position: center;
  margin-bottom: 3rem;
  background-size: cover;
  
}
.favorite-container{
  display:flex;
  gap:0.5rem;
  flex-wrap:wrap;
  margin: 0 auto;
}
.single-fav{
  text-align:center;
}
.single-fav img{
  width:60px;
  height:60px;
  border-radius:50%;
  border:5px solid;
  cursor:pointer;
}
.remove-btn{
  margin-top:0.25rem;
  background:transparent;
  border:transparent;
  cursor:pointer;
  font-size:0.55rem;
  transition:var(--transition);
  color: #505001;
}
.remove-btn:hover{
  color:var(--red-dark)
}
.favorites h4{
  font-size: 1.3rem;
  letter-spacing: var(--letterSpacing);
}

/* MEAL */
.meals-container {
  margin-top: 2rem;
}
.meals {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.no-meal-text{
  letter-spacing: 1px;
  text-align: center;
  /* font-family: cursive; */
}
.single-meal {
  padding: 0 .2rem;
  background-color: #202019;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 3rem;
  cursor: pointer;
}
.single-meal:hover {
  box-shadow: var(--shadow-4);
}

.single-meal h4 {
  font-size: 0.9rem;
  margin-top: 1.8rem;
}
.single-meal .like-btn {
  background: transparent;
  border: transparent;
  font-size: 1.4rem;
  cursor: pointer;
  transition: var(--transition);
  color: #ac9a32;
  position: relative;
  top: -1.7rem;
  right: 0;
}
.like-btn:hover {
  color: var(--red-dark);
  transform: translateY(-2px);
}
.single-meal img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: relative;
  top: -2.6rem;
  right: 0;
  animation: rotateAnimation 10s infinite;
}
.single-meal .meal-timing {
  display: flex;
  justify-content: space-around;
  gap: 0.9rem;
  align-items: center;
  margin-top: .5rem;
}
.single-meal h4, .course, .meal-timing{
  position: relative;
  top: -3rem;
}
.single-meal .course{
  margin-top: -.9rem;
  font-size: .8rem;
  color: #baaa4c;
  line-height: 1.2rem;
}
.single-meal .meal-timing .text-small {
  font-size: 0.8rem;
  color: #848284;
}
 
/* MODAL */
.modal-overlay{
  position:fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background:rgba(0,0,0,0.85);
  display: grid;
  place-items: center;
  transition: var(--transition);
  z-index: 30;
  overflow-y: scroll;
}
.modal-overlay .btn{
  margin: .8rem auto; 
  display: block;
  margin-bottom: 1.5rem;
  background: #a69105;
  color: #f1f5f9;
}
.modal-overlay .btn.close{
  position: fixed; 
  top: .5rem;
  right: 1.5rem;         
}
.modal-overlay .btn:hover{
  background-color: #c6ad1d;
}
.modal-overlay .image{
  height: 150px;
  width: 150px;
  margin: 2rem auto;
  border-radius: 50%;
}
.modal{
  color: var(--grey-modal);
  background: #202019;
  padding:  1rem .8rem;
  width: 85vw;
  max-width: 750px;
  border-radius: var(--border-radius);
  margin-bottom: 2rem;
  padding-bottom:1.5rem;
}
.modal .modal-title{
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.modal .timer img{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin: 0 auto;
}
.modal .timer p{
  font-size: .7rem;
}
.modal .overview{
  font-size: .9rem;
  letter-spacing: var(--letterSpacing);
}
.modal .meal-summary{
  display: flex;
  flex-wrap: wrap;
  gap: .9rem;
  justify-content: center;
  margin-top:1rem ;
  font-size: .8rem;
}
.modal .meal-summary span{
  color: #685b02;
}
.modal .modal-button-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 1.5rem auto;
  margin-bottom: 2rem;
  background-color: #0f0f0a;
  padding: .2rem .8rem;
  border-radius: var(--border-radius);
}
.modal .modal-button-container .btn {
  margin: 0;
  background-color: transparent;
  border: none;
  font-size: .7rem;
}
.modal .modal-button-container .btn:hover{
  color: #afb0b1;
}
.modal .modal-button-container .btn.active{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #52524d;
  padding: .2rem .9rem;
  border-radius: var(--border-radius);
  color: var(--color-yellow);
  color: #c1a808;
}
.modal .modal-button-container .btn.active:hover{
  color:#ebcc05 ;
}
.modal .recipe {
  line-height: 2rem;
}
.ingredients{
  margin: 1rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: .5rem;
}
.ingredients .ingredient-card{
  background-color: #0f0f0a;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 90px;
  max-width: 120px;
  padding: .6rem .5rem;
  border-radius: .7rem;
}
.ingredients .ingredient-card img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-bottom: .5rem;
}
.ingredients .ingredient-card p {
  font-size: .7rem;
}
.modal .nutrition {
  line-height: 1.5rem;
  font-size: .8rem;
}
.modal .nutrition p{
  border-bottom: 1px solid #52524d;
  margin-bottom: .5rem;
  padding-bottom: .5rem;
}
.modal .nutrition .note{
  margin-top: 1.3rem;
  border-bottom: transparent;
}
.modal .nutrition .note span{
  font-weight: bold;
}
.modal .note a, .modal .source{
  color: #867402;
}
.modal .note a:hover, .modal .source:hover{
  color: #a69105;
}
.modal .source{
  font-size: .9rem;
  margin-top: .8rem;
  margin-bottom: .2rem;
}
.modal .btn.view{
  background: transparent;
  border-radius: 0px;
  border: 0px solid;
  color: #4d4d4b;
  box-shadow: none;
}
.modal .btn.view:hover{
  color: #6e6e67 ;
}
/* PAGINATION */
.pagination{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.3rem;
}
.btn.disabled{
  background-color: rgb(110, 108, 108);
  color: rgb(85, 83, 83);
}
.btn.active{
  background: #222200;
}
@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* MEDIA QUERIES */

@media screen and (min-width: 506px) {
  .single-meal img{
    width: 100px;
    height: 100px;
  }
}
@media screen and (min-width: 676px) {
  .meals {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 736px) {
  .header h1 {
    font-size: 2rem;
  }
  .header img {
    width: 45px;
    height: 45px;
  }
  .meals {
    grid-template-columns: repeat(3, 1fr);
  }
  .no-meal-text{
    font-size: 1.3rem; 
  }
  .modal {
    padding: 1rem 2rem;
  }
  .modal-overlay .image{
    width: 180px;
    height: 180px;
  }
  .modal .modal-button-container .btn {
  font-size: .9rem;
}
  .single-meal img {
  width: 120px;
  height: 120px;
}
}

@media screen and (min-width: 996px) {
  .container {
    padding: 0.5rem 4rem;
  }
  .single-meal img {
  width: 160px;
  height: 160px;
}
.modal-overlay .image{
    width: 200px;
    height: 200px;
  }
.modal{
  width: 60vw;
}
}
@media screen and(max-width: 505px){
  .favorites {
  margin-bottom: 2rem; 
}
.single-fav img{
  width:50px;
  height:50px;
}
.remove-btn{
  font-size:0.5rem;
}
.favorites h4{
  font-size: 1.1rem;
}
.modal .overview{
  font-size: .8rem;
}
.single-meal h4 {
  font-size: 0.5rem;
}
}